@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(to top, #1d1d1f, #1d1d20, #1e1e20, #1e1e21, #1f1e21, #1f1e21, #1f1d20, #1f1d20, #1e1d1f, #1d1c1f, #1d1c1e, #1c1b1d);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: red;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 10rem;
    color: white;
    border-bottom: 1px white solid ;
}

.header-content a {
    margin-left: 2.5rem;
    font-size: 3rem;
    font-weight: 600;
}

.content-search {
    margin-right: 2.5rem;
}

#search-movie {
    min-width: 16rem;
    width: 25rem;
    height: 3.6rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    border-radius: .2rem;
    padding-left: .8rem;
}

.content-search #btn-search {
    background: #805EFB;
    color: white;
    font-size: 1.6rem;
    height: 3.6rem;
    border: none;
    outline: none;
    padding: 0 .5rem;

}

.content-movies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0rem;
}

.card-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 43rem;
    width: 30rem;
    margin: 4rem 1.5rem;
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden; 
}

.card-movie:hover {
    transform: scale(1.1);
}

.card-movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid white;
}

.description {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 0 0 .5rem .5rem;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transform: translateY(100%); 
    opacity: 0; 
}

.card-movie:hover .description {
    transform: translateY(0); 
    opacity: 1; 
}

.title-movie {
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    width: 100%;
    text-align: left;
}

.details-movie {
    width: 23rem;
    margin-bottom: .5rem;
    width: 100%;
}

.classification-star {
    color: white;
    padding-right: .5rem;
    border-right: 1px solid white;
}

.classification-star i {
    color: gold;
}

.year-movie {
    color: white;
    margin-left: 1rem;
}
