@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #15152A;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 7rem;
    color: white;
    background-color: #373B69;
    position: relative;
}

.content-search {
    margin-right: 2.5rem;
    position: absolute;
    right: 0;
}

#search-movie {
    min-width: 16rem;
    width: 25rem;
    height: 3.6rem;
    font-size: 1.6rem;
    border: 2px solid #22254B;
    outline: none;
    border-radius: .2rem;
    padding-left: .8rem;
    color: whitesmoke;
    background-color: #373B69;
    border-radius: 3rem;
    padding-left: 1.3rem;
}

#search-movie::placeholder {
    color: white;
}

.content-search #btn-search {
    background-color: #373B69;
    color: white;
    font-size: 1.6rem;
    height: 3.6rem;
    width: 3.6rem;
    border: 2px solid #22254B;
    outline: none;
    padding: 0 .5rem;
    border-radius: 30px;
    cursor: pointer;

}

.content-movies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0rem;
}

.card-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    position: relative;
    background-color: #373B69;
    margin: 1rem 1rem;
}

.overview {
    width: 25rem;
}

.overview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: transform 0.5s ease, opacity 0.3s ease;
    transform: translateY(20%);
    opacity: 0;
    padding: 2rem 1.5rem 2rem 2rem;
    text-align: justify;
    max-height: 100%;
    overflow-y: auto;
}

.description h3 {
    padding-bottom: 1rem;
    font-weight: 600;
}

.card-movie:hover .description {
    transform: translateY(0);
    opacity: 1;
    max-height: 100%;
}

.detail {
    width: 100%;
    height: 9rem;
    display: flex;
}

.title-movie {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    text-align: left;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: start;
    overflow-wrap: break-word;
    overflow: hidden;
    padding: 1rem;

}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 3.5rem;
    margin-top: 3.2rem;
    border-radius: .2rem;
    background-color: #22254B;
    color: goldenrod;
    font-weight: 500;
}